# mac
.DS_Store

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
**/build/

# gem dev files
android/--user-install/
android/.bundle/
android/vendor/

ios/--user-install/
ios/.bundle/
ios/vendor/